BR2_powerpc64le=y
BR2_powerpc_power8=y
BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_5_0=y
BR2_BINUTILS_EXTRA_CONFIG_OPTIONS="--enable-targets=powerpc64-linux"
BR2_EXTRA_GCC_CONFIG_OPTIONS="--enable-targets=powerpc64-linux --disable-libsanitizer"
BR2_ROOTFS_DEVICE_TABLE="system/device_table.txt ../openpower/custom/device_table/sshd.txt"
BR2_TARGET_GENERIC_GETTY_PORT="hvc0"
BR2_ROOTFS_OVERLAY="../openpower/custom/overlay/opal ../openpower/custom/overlay/sshd ../openpower/custom/overlay/npu ../openpower/custom/overlay/nvidia-driver"
BR2_ROOTFS_POST_BUILD_SCRIPT="../openpower/custom/scripts/fstab-debugfs"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_VERSION=y
BR2_LINUX_KERNEL_CUSTOM_VERSION_VALUE="5.0.21"
BR2_LINUX_KERNEL_DEFCONFIG="ppc64le"
BR2_LINUX_KERNEL_CONFIG_FRAGMENT_FILES="$(BR2_EXTERNAL_OP_BUILD_PATH)/custom/configs/linux/npu.config"
BR2_LINUX_KERNEL_VMLINUX=y
BR2_LINUX_KERNEL_XZ=y
BR2_LINUX_KERNEL_NEEDS_HOST_OPENSSL=y
BR2_PACKAGE_BUSYBOX_CONFIG_FRAGMENT_FILES="$(BR2_EXTERNAL_OP_BUILD_PATH)/configs/busybox.fragment"
BR2_PACKAGE_BUSYBOX_SHOW_OTHERS=y
BR2_PACKAGE_NVIDIA_DRIVER=y
BR2_PACKAGE_NVIDIA_DRIVER_CUSTOM_VERSION=y
BR2_PACKAGE_NVIDIA_DRIVER_CUSTOM_VERSION_VALUE="418.67"
BR2_PACKAGE_NVIDIA_DRIVER_USE_CUSTOM_RUNFILE=y
BR2_PACKAGE_NVIDIA_DRIVER_CUSTOM_RUNFILE="$(HOME)/src/NVIDIA-Linux-ppc64le-$(NVIDIA_DRIVER_VERSION).run"
BR2_PACKAGE_NVIDIA_DRIVER_CUDA=y
BR2_PACKAGE_NVIDIA_DRIVER_MODULE=y
# BR2_PACKAGE_NVIDIA_DRIVER_MODULE_DRM is not set
BR2_PACKAGE_NVIDIA_DRIVER_MODULE_PROGS=y
BR2_PACKAGE_PCIUTILS=y
BR2_PACKAGE_PDBG=y
BR2_PACKAGE_DTC=y
BR2_PACKAGE_DTC_PROGRAMS=y
BR2_PACKAGE_BC=y
BR2_PACKAGE_HAVEGED=y
BR2_PACKAGE_OPENSSH=y
BR2_PACKAGE_CGROUPFS_MOUNT=y
BR2_PACKAGE_NUMACTL=y
BR2_PACKAGE_POWERPC_UTILS=y
BR2_PACKAGE_LESS=y
BR2_TARGET_ROOTFS_CPIO=y
BR2_TARGET_ROOTFS_CPIO_XZ=y
# BR2_TARGET_ROOTFS_TAR is not set
BR2_PACKAGE_NPU=y
